* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 50%;
  margin: 10% auto;
}

button {
  cursor: pointer;
  width: 100px;
  padding: 5px 20px;
  border: none;
  border-radius: 10px;
  background-color: black;
  color: white;
}

#title {
  text-align: center;
  margin-bottom: 60px;
}
