.viewPosts {
  width: 60%;
  margin: 50px auto;
}

.viewPosts > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.viewPosts > li > div > button {
  width: 60px;
  font-size: 10px;
  padding: 3px 5px;
  margin-left: 8px;
}
